# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
env/
.ruff_cache/
.mypy_cache/

# Tools & caches
.cache/
.pre-commit/
*.log
*.pyc
.gz
cifar-10-batches-py/
.tar
cifar-10-python.tar.gz
build/


# IDE/OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Project artifacts
outputs/
data/
checkpoints/
plots/